.full.height {
    height: 100%;
}

.main.container {
    background-color: #FFFFFF;
    margin: 0em auto;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 2em 2em 7em;
    z-index: 1;
    min-height: 100%;
}

.controls {
    position: fixed;
    bottom: 0px;
    margin: 0em auto;
    border-left: 0;
    border-right: 0;
    margin-left: -28px;
}

.controls textarea {
    border: 0;
    outline: none;
    resize: none;
    width: 100%;
    height: 70px;
}

.controls > .segment {
    padding: 0;
    margin: 0;
    box-shadow: none !important;
    border-top: 1px solid #ccc;
}

.controls .now_typing {
    height: 21px;
    padding-left: 28px;
    border-top: 3px solid #ccc;
    color: #bbb;
}


.chat_message {
    margin: 5px 5px !important;
    padding: 4px 0 4px 1em !important;
    line-height: 22px;
}

.chat_message .right.floated {
    position: absolute;
    right: 0;
    top: 0;
}

.message_username {
    font-weight: bold;
}

.message_username, .message_content {
    margin-left: 50px;
}

.message_avatar {
    margin-top: 5px;
    float: left;
}

.loader_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100500;
    background-color: rgba(255,255,255,0.5);
}

.loader_overlay .content {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    text-align: center;
}

.auth-select {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}

.auth-select > .divider {
    margin: 10px auto;
    width: 400px;
}

@media only screen and (min-width: 800px) {
    .main.container {
        width: 800px;
    }

    .controls {
        width: 798px;
    }
}

@media only screen and (max-width: 799px) {
    .main.container {
        width: 500px;
    }

    .controls {
        width: 598px;
    }
}