.full.height {
    height: 100%;
}

.main.container {
    margin: 0 auto;
    height: 100%;
}

.mainchat {
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 2em 2em 7em;
    min-height: 100%;
}

.controls {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    border-left: 0;
    border-right: 0;
    margin-left: -2em;
}

.controls textarea {
    border: 0;
    outline: none;
    resize: none;
    width: 100%;
    height: 5em;
}

.controls > .segment {
    padding: 0;
    margin: 0;
    box-shadow: none !important;
    border-top: 1px solid #ccc;
}

.controls .now_typing {
    height: 1.6em;
    padding-left: 2em;
    border-top: 3px solid #ccc;
    color: #bbb;
}


.ui.segment.chat_message {
    margin: 0.3em 0.3em;
    padding: 0.25em 0 0.25em 1em;
    line-height: 1.5em;
}

.chat_message .right.floated {
    position: absolute;
    right: 0;
    top: 0;
}

.message_username {
    font-weight: bold;
}

.message_username, .message_content {
    margin-left: 3.5em;
}

.message_avatar {
    margin-top: 0.2em;
    float: left;
}

.loader_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100500;
    background-color: rgba(255,255,255,0.5);
}

.loader_overlay .content {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -14.25em;
    width: 28.5em;
    text-align: center;
}

.auth-select {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}

.auth-select > .divider {
    margin: 10px auto;
    width: 28.5em
}

.userlist {
    /*width: 40px;*/
    /*height: 600px;*/
    overflow: scroll;
}

.userlist .user-item {
    /*margin-bottom: 3px;*/
}

.buttons_container {
    position: fixed;
    top: 0;
    margin-left: -2em;
    text-align: right;
}

.buttons_set {
    display: inline-block;
    margin-top: 0.7em;
}

.buttons_set .icon {
    font-size: 1.4em;
}

.buttons_set .ui.icon.button {
    padding: 0.5em;
}

.buttons_set .ui.floating.label {
    top: auto;
    left: auto;
}

@media only screen and (min-width: 800px) {
    .main.container, .buttons_container {
        width: 57.1em;
    }

    .mainchat {
        margin-right: 4.3em;
    }

    .controls {
        width: 52.7em;
    }

    .buttons_set .ui.icon.button {
        margin-left: -1em;
    }

    .buttons_set .ui.floating.label {
        margin-left: -1.7em !important;
        margin-top: -1.5em !important;
    }
}

@media only screen and (max-width: 799px) {
    .main.container, .buttons_container {
        width: 35.7em;
    }

    .mainchat {
        margin-right: 3.6em;
    }

    .controls {
        width: 32em;
    }

    .buttons_set .ui.icon.button {
        margin-left: -1.3em !important;
    }

    .buttons_set .icon {
        font-size: 1.2em;
    }

    .buttons_set .ui.floating.label {
        margin-left: -1.8em !important;
        margin-top: -1.2em !important;
    }
}