.full.height {
    height: 100%;
}

.main.container {
    margin: 0 auto;
    height: 100%;
}

.mainchat {
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 2em 2em 7em;
    min-height: 100%;
}

.controls {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    border-left: 0;
    border-right: 0;
    margin-left: -2em;
}

.controls textarea {
    border: 0;
    outline: none;
    resize: none;
    width: 100%;
    height: 5em;
}

.controls > .segment {
    padding: 0;
    margin: 0;
    box-shadow: none !important;
    border-top: 1px solid #ccc;
}

.controls .now_typing {
    font-size: 0.8em;
    height: 1.6em;
    padding-left: 2em;
    border-top: 1px solid #ccc;
    color: #bbb;
    border-radius: 0px;
}

.field_message {
    padding: 10px;
    border-radius: 0;
}

.chat_message {
    position: relative;
    margin: 0;
    padding: 1.5em 0 0 1em;
    line-height: 1.5em;
}

.chat_message.message_appended {
    padding: 0.25em 0 0 1em;
}

.chat_message .right.floated {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0.4em;
}

.message_date {
    font-size: 0.7em;
    line-height: 5.5em;
    color: #999;
}

.message_username {
    font-weight: bold;
}

.message_username, .message_content {
    margin-left: 2.5em;
    padding-left: 1em;
}

.message_content {
    line-height: 1.5em;
}

.message_appended .message_content {
    border-top: 0;
}

.message_avatar {
    margin-top: 0.2em;
    float: left;
}

.chat_message.last_read_message:after {
    content: 'новые сообщения';
    color: #999;
    font-variant: small-caps;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: right;
    line-height: 0;
    text-shadow: 0 0 6px rgba(255, 255, 255, 1);
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    margin-top: 0.7em;
    margin-bottom: 1em;
    background: -ms-linear-gradient(left,  #bbb 0%,#bbb 74%,#fff 76%,#fff 100%); /* IE10+ */
    background: linear-gradient(to right,  #bbb 0%,#bbb 74%,#fff 76%,#fff 100%); /* W3C */
}

.loader_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100500;
    background-color: rgba(255,255,255,0.5);
}

.loader_overlay .content {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -14.25em;
    width: 28.5em;
    text-align: center;
}

.auth-select {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}

.auth-select > .divider {
    margin: 10px auto;
    width: 28.5em
}

.userlist {
    display: none;
    border-left: 1px solid #999;
    padding-left: 0.7em;
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
}

.userlist.active {
    display: block;
}

.userlist_button_container {
    position: relative;
}

.userlist_button.active {
    background-color: #aaa !important;
}

.userlist .user-item {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 0.7em;
    min-height: 2.5em;
}

.userlist .user-item img {
    min-width: 30px;
    float: left;
    vertical-align: middle;
}
.userlist .user-item .user-name {
    padding-left: 5px;
}

.userlist .user-item:first-of-type {
    margin-top: 0.7em;
}

.buttons_container {
    position: fixed;
    top: 0;
    margin-left: -2em;
    text-align: right;
    height: 0;
    overflow: visible;
}

.buttons_set {
    display: inline-block;
    margin-top: 0.7em;
}

.buttons_set .icon {
    font-size: 1.4em;
}

.buttons_set .ui.icon.button {
    padding: 0.5em;
}

.usercount_wrapper {
    position: absolute;
}

@media only screen and (min-width: 800px) {
    .main.container, .buttons_container {
        width: 57.1em;
    }

    .mainchat {
        margin-right: 4.3em;
    }

    .field_chat.compact {
        width: 38em;
    }

    .controls {
        width: 52.7em;
    }

    .controls.compact {
        width: 40em;
    }

    .userlist {
        margin-left: 38em;
        width: 11.7em;
    }

    .buttons_set .ui.icon.button {
        margin-left: -1em;
    }

    .usercount_wrapper {
        margin-left: 2em;
    }

    .chat_message.last_read_message:after {
        font-size: 1.1em;
        font-weight: normal;
    }
}

@media only screen and (max-width: 799px) {
    .main.container, .buttons_container {
        width: 35.7em;
    }

    .mainchat {
        margin-right: 3.6em;
    }

    .controls {
        width: 32em;
    }

    .controls.compact {
        width: 23em;
    }

    .field_chat.compact {
        width: 21em;
    }

    .userlist {
        width: 8em;
        margin-left: 21em;
    }

    .buttons_set .ui.icon.button {
        margin-left: -1.3em !important;
    }

    .buttons_set .icon {
        font-size: 1.2em;
    }

    .usercount_wrapper {
        margin-left: 1.6em;
    }

    .chat_message.last_read_message:after {
        font-size: 0.8em;
        font-weight: bold;
    }
}


/* Perfect scrollbar styles */
.ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {
    display: block; }
.ps-container > .ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
    -o-transition: background-color 0.2s linear, opacity 0.2s linear;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    bottom: 3px;
    /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px; }
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    position: absolute;
    /* please don't change 'position' */
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    bottom: 0;
    /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px; }
.ps-container > .ps-scrollbar-x-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90); }
.ps-container > .ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
    -o-transition: background-color 0.2s linear, opacity 0.2s linear;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    right: 3px;
    /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px; }
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    position: absolute;
    /* please don't change 'position' */
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    right: 0;
    /* there must be 'right' for ps-scrollbar-y */
    width: 8px; }
.ps-container > .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90); }
.ps-container:hover > .ps-scrollbar-x-rail, .ps-container:hover > .ps-scrollbar-y-rail {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60); }
.ps-container:hover > .ps-scrollbar-x-rail.in-scrolling, .ps-container:hover > .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90); }
.ps-container:hover > .ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90); }
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
    background-color: #999; }
.ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90); }
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
    background-color: #999; }
