<div class="full height">
    <div class="main container">
        <div class="mainchat">
            <div class="buttons_container">
                <div class="buttons_set">
                    <div>
                        <a href="http://tenhou.net/0/?C23662116" target="_blank">
                            <div class="circular ui icon button" title="Войти в лобби">
                                <i class="icon game circle" style="line-height: 0.8"></i>
                            </div>
                        </a>
                    </div>
                    <div>&nbsp;</div>
                    <div>
                        <a href="http://online-june2016.furiten.ru/stat/" target="_blank">
                            <div class="circular ui icon button" title="Рейтинг игроков">
                                <i class="icon star circle"></i>
                            </div>
                        </a>
                    </div>
                    <div>&nbsp;</div>
                    <div class="userlist_button_container">
                        <div class="circular ui icon button userlist_button" title="Кто онлайн">
                            <i class="icon users"></i>
                        </div>
                        <div class="usercount_wrapper">
                            <div class="floating ui circular teal label userlist_count">0</div>
                        </div>
                    </div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>
                        <div class="logout_button circular ui icon button" title="Выход">
                            <i class="icon sign out"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field_chat"></div>
            <div class="controls">
                <div class="ui raised segment now_typing"></div>
                <div class="ui raised segment">
                    <textarea class="field_message"></textarea>
                </div>
            </div>
            <div class="userlist scroller"></div>
        </div>
    </div>
    {{> settingsPage}}
    <div class="loader_overlay">
        <div class="ui loader active"></div>
        <div class="content">
            Соединение потеряно. <br><br> Можно подождать или <a class="reload_page" href="#">перезагрузить страницу</a>
        </div>
    </div>
</div>
