<div class='chat_message ui{{#if appendToPrevious}} message_appended{{/if}}'>
    {{#unless appendToPrevious}}
        <div class="message_avatar"><img class="ui avatar image" src="{{avatar}}" alt="" /></div>
        <div class="message_username">{{username}}</div>
        <div class="message_date right floated ui">{{dateTime}}</div>
    {{/unless}}
    <div class="message_content">{{{content}}}</div>
</div>
