<div class="userlist_header">Онлайн:</div>
{{#each users}}
    <a href="{{link}}" class="user-item">
        <img src="{{avatar}}" class="ui avatar image">
        <span class="user-name">{{name}}</span>
    </a>
{{/each}}
<div class="scroller__track">
    <div class="scroller__bar"></div>
</div>
